trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- task: Npm@1
  inputs:
    command: install
  displayName: 'npm install'

- script: npm run lint
  displayName: 'Self-validate'

- task: Npm@1
  inputs:
    command: publish
    publishEndpoint: npm
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
  displayName: "Publish to npm"
